<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="Dropbox.Api" version="4.9.4" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net461" />
  <package id="FileHelpers" version="3.4.0" targetFramework="net461" />
  <package id="FluentFTP" version="32.4.3" targetFramework="net461" />
  <package id="Google.Apis" version="1.43.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.43.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.43.0" targetFramework="net461" />
  <package id="MailKit" version="2.5.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="MimeKit" version="2.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="NLog" version="4.6.5" targetFramework="net461" />
  <package id="NLog.Config" version="4.6.3" targetFramework="net461" />
  <package id="NLog.Schema" version="4.6.3" targetFramework="net461" />
  <package id="NLog.Windows.Forms" version="4.3.0" targetFramework="net461" />
  <package id="Rebex.Common" version="5.0.7320" targetFramework="net461" />
  <package id="Rebex.Networking" version="5.0.7320" targetFramework="net461" />
  <package id="Rebex.Sftp" version="5.0.7320" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Json" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>